- @recents.each do |r|
  %div{:style => "margin-bottom:2rem;clear:both;"}
    %img{:src => r[:thumb], :style => "width:10%;float:left;margin-bottom:2rem;"}
    %textarea{:style => "float:left;width: 85%;margin-left:2rem;height: 5rem;"}
      = "![#{r[:caption]}](#{r[:image_url]})"
    
