-# We use this page to play around with what comes back from the api

%h2
  Response Page





%section

  %h4 Image Data
  %pre{style: "color:white;"}
    = JSON.pretty_generate JSON.parse(@image_data)['Response']['Image']['ThumbnailUrl']
    
  %h4 Image sizes
  %pre{style: "color:white;"}
    = JSON.pretty_generate JSON.parse(@image_sizes)['Response']['ImageSizeDetails']['ImageSizeX2Large']['Url']
   
  %h4 Image Metadata 
  %pre{style: "color:white;"}
    = JSON.pretty_generate JSON.parse(@image_metadata) #['Response']['ImageMetadata']['Model']


  