-# We use this page to see our oauth token and secret, which allows us to 
-# save these as env variables and persist over restarts

%h3
  %i.fa-solid.fa-warning
  Your oAuth Tokens

%p
  Save these lines in a file called <b>.env_oauth</b> in the application root dir and you won't have to authenticate every time you restart the app. Never check this into source control. 

%h3{:style => "margin-top:3rem;"}
  %i.fa-solid.fa-passport
  Access Token and Secret
%pre{:style => "color:white;"}
  ="export SMUGMUG_ACCESS_TOKEN=#{@access_token.token}\n"
  ="export SMUGMUG_ACCESS_TOKEN_SECRET=#{@access_token.secret}"
