%form{action: "/upload_cloudflare", enctype: "multipart/form-data", method: "POST"}
  %input{name: "file", type: "file"}/
  %input{type: "submit", value: "Upload", :style => "background-color: var(--ctp-mocha-red);"}/