%nav
  %ul
    %li
      %a{ :href => "/upload", :title => "Upload" }
        %i.fa-solid.fa-file.meteor
        Upload
    -# %li
    -#   %a{ :href => "/raw", :title => "Raw HTML" }
    -#     %i.fa-solid.fa-code.meteor
    -#     Raw