%nav
  %ul
    %li
      %a{ :href => "/", :title => "Upload" }
        %i.fa-solid.fa-image.meteor
        Upload an Image
    %li
      %a{ :href => "/recent", :title => "Recent uploads" }
        %i.fa-brands.fa-markdown
        Recent Uploads