%nav
  %ul
    %li
      %a{ :href => "/", :title => "Upload" }
        %i.fa-solid.fa-image.meteor
        Upload an Image
    %li
      %a{ :href => "/recent", :title => "Recent uploads" }
        %i.fa-brands.fa-markdown.meteor
        Recent Uploads
    %li
      %a{ :href => "https://www.smugmug.com/app/organize/Uploads", :title => "Smugmug Album" }
        %i.fa-solid.fa-images.meteor
        Smugmug Album
